- content_for :summary do
  .summary
    %span.title= link_to_unless_current item.title, show_path(item.asin)
    - unless item.binding.nil? && item.edition.nil?
      %span.edition= "(#{[item.binding, item.edition].compact.join(', ')})" 
    - unless item.authors.nil?
      .authors= 'by ' + item.authors.collect{|a| link_to(a, search_path(:search_index => 'Books', :keywords => a))}.to_sentence