%div{:class => "pricing #{location}"}
  - unless @item.list_price.nil?
    .list_price
      %span.label List Price:
      %span.price= @item.list_price[:formatted]
  - unless @item.amazon_price.nil?
    .amazon_price
      %span.label Amazon Price:
      %span.price= (@item.amazon_price[:formatted] + link_to('*', :anchor => 'disclaimer')) 
  .buy= link_to 'Buy', cart_add_path(@item)