.summary
  %span.title= link_to_unless_current item.title, item_url(item.asin)
  - unless item.binding.nil? && item.edition.nil?
    %span.edition= "(#{[item.binding, item.edition].compact.join(', ')})" 
  - unless item.authors.nil?
    .authors= ('by ' + item.authors.collect{|a| link_to(a, {:controller => 'item', :action => 'search', :search => 'book', :keywords => a})}.to_sentence)
