.cart_message Your Amazon.com Cart

= render :partial => 'item', :collection => @cart.items
.cart_subtotal
  %span.subtotal Cart Subtotal
  %span.amount= @cart.subtotal[:formatted]
.clear &nbsp;
.cart_actions
  = link_to 'Buy at Amazon.com', @cart.purchase_url
  |
  = link_to 'Empty cart', cart_clear_path
.note Note: All shipping and handling charges will be added after you login to Amazon.com